.placeable {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
}

.clickForInfoObjects {
    opacity: 0;
    z-index: -1;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    top: -23%;
    width: 30%;
    height: 15%;
}

.clickForInfoObjectsText {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20%;
    height: 100%;
}

#infoObjects {
    cursor: pointer;
    object-fit: scale-down;
}

#deleteButton {
    cursor: pointer;
    object-fit: scale-down;
}

#upgradeButton {
    cursor: pointer;
    object-fit: cover;
}

#infoForObjects {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 800px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    opacity: 0;
    z-index: -1;
}

#deleteMenuObjects {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 800px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    opacity: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#deleteMenuObjects h1 {
    font-size: 30px;
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
    padding-top: 10%;
}

#deleteMenuObjects h4 {
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
}

#deleteMenuObjects .choices {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


#deleteMenuObjects .choices button {
    font-size: 20px;
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
    padding-top: 3%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#upgradeMenu {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 800px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    opacity: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#upgradeMenu h1 {
    font-size: 30px;
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
    padding-top: 10%;
}

#moneyUp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#upgradeMenu h4 {
    margin-top: -10%;
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
}

#upgradeMenu img {
    margin-top: -10%;
    width: 25%;
    height: 25%;
}

#upgradeMenu .choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
}

#upgradeMenu .choices .choiceUpgrade {
    font-size: 20px;
    color: #00353b;
    font-family: 'Press Start 2P', cursive;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeMenu {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 100%;
    background-color: none;
    color: black;
    font-size: 35px;
    cursor: pointer;
}