body {
    background: #008081 ;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
}

center {
    height: 100vh;
    width: 100vw;
}

.gameContainer {
    position: relative;
    background-image: url("../immagini/newGameTerrain.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70vw;
    height: 100%;
}

#imgTitle {
    margin-top: 5%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#title {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 5;

    font-size: 60px;
    color:gainsboro;
    cursor: default;
    font-family: 'Press Start 2P', cursive;
    animation: pulse 1s infinite;
}

#settingMenu {
    backdrop-filter: blur(10px);
    text-align: left;
    padding: 17px;
    overflow: hidden;
}

#settingMenu h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Press Start 2P', cursive;
    color: #00353b;
}

#settingMenu h4 {
    padding-top: 15px;
    font-size: 23px;
    font-family: 'Press Start 2P', cursive;
    color: #030f10;
}

#settingMenu h5 {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #2f3d3e;
}

#settingMenu p {
    font-size: 18px;
    font-family: cursive;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    padding: 7px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}