body {
    background: linear-gradient(to bottom, #000429, #01074F, #056926);
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
    
}

center {
    height: 100vh;
    width: 100vw;
}

.gameContainer {
    position: relative;
    background-image: url("../immagini/terrenoBase.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75vw;
    height: 100%;
}

#imgTitle {
    margin-top: 5%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#title {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;

    font-size: 60px;
    color:gainsboro;
    cursor: default;
    font-family: 'Press Start 2P', cursive;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#settingButton {
    position: absolute;
    top: 92%;
    left: 16%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#buildButton {
    position: absolute;
    top: 92%;
    left: 84%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;

    border: 2px solid black;
    border-radius: 25%;
    background-color: #6f6b6b;
}

#goldCoin {
    width: 30px;
    height: 30px;
    padding: 0px 10px;
}

#resourcesBarFiller {
    width: 275px;
    height: 30px;
    position: absolute;
    top: 7%;
    left: 78.5%;
    transform: translate(-50%, -50%);

    border: 3px solid #000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 5;
}

#opacityBackgroundBarFiller {
    width: 275px;
    height: 30px;
    position: absolute;
    top: 7%;
    left: 78.5%;
    transform: translate(-50%, -50%);

    background-color: #ddd;
    border-radius: 8px;
    z-index: 1;
}

#resourcesValue {
    -webkit-text-stroke: 1.7pt #000;
    cursor: default;
    color: white;
    font-size: 27px;
    font-weight: 700;
}

#progressBar {
    width: 275px;
    height: 30px;
    position: absolute;
    top: 7%;
    left: 78.5%;
    transform: translate(-50%, -50%);

    border-radius: 8px;
    direction: rtl;
}

#progress {
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background-color: #f1b10f;
}

.gameButtonMenu {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    height: 800px;
    width: 1200px;
    border: 5px solid #111;
    border-radius: 25px;
    z-index: 10;

    overflow-y: scroll;
}

.blurBackground {
    position: absolute;
    width: 100%;
    height: 200%;
    border-radius: 25px;
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sectionBuildMenu {
    border-radius: 15px;
    width: 90%;
    height: 30%;
    border: 5px solid black;
    background-color: #555;
}


/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 15px;
    background-color: #333;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}